#cogs {
  height:5500px;
  position:relative;
  background:#2e2437;
}

#cogs-screen {
  position:relative;
  width:100%;
  overflow:hidden;
  top:0;
}

/* Cogs */

#cogGroup {
  height:1600px;
  width:100%;
  position:absolute;
  left:0;
  top:1000px;
}

#cogsBG {
  background:url(/images/cogs/cog-bg.jpg) no-repeat top center;
  width:100%;
  height:950px;
  position:absolute;
  top:0;
}

.cogS {
  width:190px;
  height:190px;
  background:url(/images/cogs/cog-s.png) no-repeat;
}

.cogS.altCog {
  background:url(/images/cogs/cog-s-alt.png) no-repeat;
}

.cogM {
  width:340px;
  height:340px;
  background:url(/images/cogs/cog-m.png) no-repeat;
}

.cogM.altCog {
  background:url(/images/cogs/cog-m-alt.png) no-repeat;
}

.rev, .norm {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  position:absolute;
  left:50%;
}

/* Cog Locations */

#cogPhase2, #cogPhase3, #exitCogs {
  position:absolute;
  width:100%;
  left:0;
}

#cog1, #cog1-inside {
  margin-left:37px;
  top:0;
}

#cogPhase2 {
  top:251px;
}

#cog2, #cog2-inside {
  margin-left:-244px;
}

#cogPhase3 {
  top:678px;
}

#cog3, #cog3-inside {
  margin-left:50px;
}

#exitCogs {
  top:928px;
}

#cog4, #cog4-inside {
  margin-left:332px;
  top:0;
}

#cog5, #cog5-inside {
  margin-left:107px;
  top:131px;
}

#cog6, #cog6-inside {
  margin-left:-99px;
  top:51px;
}

#cog7, #cog7-inside {
  margin-left:-423px;
  top:29px;
}

/* Cog Inners */

.inside-s, .inside-m {
  position:absolute;
  left:50%;
}

.inside-s {
  width:190px;
  height:190px;
  background:url(/images/cogs/small-inside.png) no-repeat center;
}

.inside-m {
  width:340px;
  height:340px;
  background:url(/images/cogs/medium-inside.png) no-repeat center;
}

#cogText1, #cogText2, #cogText3 {
  position:absolute;
}

#cogText1 {
  width:65px;
  height:50px;
  background:url(/images/cogs/from.png) no-repeat;
  left:63px;
  top:66px;
}

#cogText2 {
  width:191px;
  height:107px;
  background:url(/images/cogs/first.png) no-repeat;
  left:73px;
  top:124px;
}

#cogText3 {
  width:186px;
  height:108px;
  background:url(/images/cogs/last.png) no-repeat;
  left:75px;
  top:120px;
}

/* Tagline */

#cogTagline {
  position:absolute;
  top:400px;
  width:100%;
}

#cogTagline h2 {
  position:relative;
  height:83px;
  margin:0 auto;
  width:758px;
  text-indent:-9999px;
  display:block;
  background:url(/images/cogs/cog-tagline.png) no-repeat;
}

/* Play */

#cogs .play {
  top:17px;
  right:27px;
  background:none;
  padding:0;
}

#cogs .play p {
  position:relative;
}

#play-cog {
  width:35px;
  height:35px;
  background:url(/images/cogs/play-cog.png) no-repeat;
  position:absolute;
  top:0;
  left:0;
}

#cogs .play a {
  width:35px;
  height:35px;
  background:url(/images/cogs/cog-play.png) no-repeat 7px 8px;
  text-indent:-9999px;
  display:block;
}