#cogs {
  height:18000px;
  position:relative;
}

#cogs-screen {
  position:relative;
  width:100%;
  overflow:hidden;
  top:0;
}

/* Cogs */

#cogShift {
  height:6000px;
  width:100%
  position:absolute;
  left:0;
  top:0;
}

.cogS {
  width:190px;
  height:190px;
  background:url(/images/cogs/cog-s.png) no-repeat;
}

.cogS.back {
  background:url(/images/cogs/cog-s-red.png) no-repeat;
  z-index:-10;
  margin-top:-16px;
}

.cogM {
  width:340px;
  height:340px;
  background:url(/images/cogs/cog-m.png) no-repeat;
}

.cogM.back {
  background:url(/images/cogs/cog-m-red.png) no-repeat;
  z-index:-10;
  margin-top:-16px;
}

.cogL {
  width:490px;
  height:490px;
  background:url(/images/cogs/cog-l.png) no-repeat;
}

.cogL.back {
  background:url(/images/cogs/cog-l-red.png) no-repeat;
  z-index:-10;
  margin-top:-16px;
}

.cogXL {
  width:640px;
  height:640px;
  background:url(/images/cogs/cog-xl.png) no-repeat;
}

.cogXL.back {
  background:url(/images/cogs/cog-xl-red.png) no-repeat;
  z-index:-10;
  margin-top:-16px;
}

#cogShift > div {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  position:absolute;
  left:50%;
}

/* Cog Locations */

#cog1, #cog1d {
  margin-left:-195px;
  top:2000px;;
}

#cog1d {
  top:2008px;
}

#cog2, #cog2d {
  margin-left:-71px;
  top:2069px;
}

#cog2d {
  top:2077px;
}

#cog3, #cog3d {
  margin-left:-433px;
  top:2265px;
}

#cog3d {
  top:2273px;
}

#cog4, #cog4d {
  margin-left:-132px;
  top:2585px;
}

#cog4d {
  top:2593px;
}

#cog5 {
  margin-left:-159px;
  top:3115px;
}

#cog6 {
  margin-left:-35px;
  top:3184px;
}

#cog7 {
  margin-left:-397px;
  top:3380px;
}

#cog8, #cog8mask {
  width:740px;
  height:740px;
  background:url(/images/cogs/text-cog.gif) no-repeat;
  z-index:-10;
  margin-left:-146px;
  top:3650px;
}

#cog8mask {
  background:url(/images/cogs/test-mask.gif) no-repeat;
  z-index:-5;
}

#cog9 {
  margin-left:-159px;
  top:4196px;
}

#cog10 {
  margin-left:-35px;
  top:4265px;
}

#cog11 {
  margin-left:-397px;
  top:4461px;
}

#cog12 {
  margin-left:-96px;
  top:4781px;
}

#cog13 {
  margin-left:-159px;
  top:5277px;
}

#cog14 {
  margin-left:-35px;
  top:5346px;
}

#cog15 {
  margin-left:-397px;
  top:5542px;
}

#cog16 {
  margin-left:-96px;
  top:5862px;
}

/* Tagline */

#cogTagline {
  position:absolute;
  top:50%;
  width:100%;
}

#cogTagline h2 {
  position:relative;
  height:60px;
  font-size:60px;
  margin:-30px auto 0;
  width:500px;
  text-align:center;
}

#cogLeft, #cogRight {
  position:absolute;
}

#cogLeft {
  top:-95px;
  left:50%;
  margin-left:-440px;
}

#cogRight {
  top:-170px;
  right:50%;
  margin-right:-590px;
}

#hideLeft, #hideRight {
  position:absolute;
  top:50%;
  margin-top:-50px;
  height:100px;
  background:#fff;
  width:250px;
}

#hideLeft {
  left:50%;
  margin-left:-525px;
}

#hideRight {
  right:50%;
  margin-right:-525px;
}
