/* Set Basic Slider Styles */

#flexible {
	position:relative;
	background:#ededed;
	}
	
#flexible-screen {
  position:relative;
  width:100%;
  top:0;
  background:url(/images/flexible/texture.jpg) no-repeat center top;
}

#flexible-tagline {
	position:absolute;
	top:50%;
	margin-top:-305px;
	height:100px;
	width:245px;
	left:50%;
	margin-left:-122px;
	text-indent:-9999px;
	display:block;
	background:url(/images/flexible/tagline.png) no-repeat;
	}
	
#fast, #normal {
	float:left;
	position:absolute;
	height:371px;
	top:50%;
	left:50%;
	margin-top:-185px;
	}
	
#fast {
	width:635px;
	margin-left:-484px;
	background:url(/images/flexible/left-path.png) no-repeat;
	z-index:2;
	}
	
#normal {
	width:380px;
	margin-left:103px;
	z-index:1;
	}
	
#normal-bg {
	width:380px;
	height:371px;
	position:absolute;
	z-index:0;
	background:url(/images/flexible/right-path.png) no-repeat;
}
		
/* Dates */	
.endToggle {
	background:url(/images/flexible/circle.png) no-repeat;
	width:79px;
	height:78px;
	position:absolute;
	z-index:200;
}

.toggleHover {
	background:url(/images/flexible/circle-hover.png) no-repeat;
	width:79px;
	height:78px;
	position:absolute;
	z-index:1;
	opacity:0;
}
	
#fast .endToggle {
	top:173px;
	left:573px;
	}
	
#normal .endToggle {
	top:138px;
	right:0;
	}
	
.endToggle a {
	width:79px;
	height:78px;
	text-align:center;
	line-height:78px;
	text-transform:uppercase;
	color:#533091;
	font-size:12px;
	font-family: UbuntuBold, sans-serif;
	font-weight:bold;
	text-decoration:none;
	display:block;
	position:absolute;
	z-index:10;
}

#flag {
	width:86px;
	height:61px;
	position:absolute;
	left:250px;
	top:213px;
	background:url(/images/flexible/flag.png) no-repeat;
}
	
/* Quips */

.quips {
	width:451px;
	height:66px;
	position:absolute;
	top:50%;
	margin-top:193px;
	left:50%;
	margin-left:-200px;
	text-align:center;
	}
	
.quips > div {
	display:none;
	width:451px;
	height:66px;
	text-indent:-9999px;
	display:block;
	background:url(/images/flexible/quips.gif) no-repeat;
	}
	
#fastQuips .quip1 {
	background-position:left 0;
	}
	
#fastQuips .quip2 {
	background-position:left -66px;
	}
	
#fastQuips .quip3 {
	background-position:left -132px;
	}
	
#fastQuips .quip4 {
	background-position:left -198px;
	}
	
#fastQuips .quip5 {
	background-position:left -264px;
	}
	
#fastQuips .quip6 {
	background-position:left -330px;
	}
	
#fastQuips .quip7 {
	background-position:left -396px;
	}
	
#fastQuips .quip8 {
	background-position:left -462px;
	}
	
#fastQuips .quip9 {
	background-position:left -528px;
	}
	
#fastQuips .quip10 {
	background-position:left -594px;
	}
	
#fastQuips .quip11 {
	background-position:left -660px;
	}
	
#fastQuips .quip12 {
	background-position:left -726px;
	}

#normalQuips .quip1 {
	background-position:right -0;
	}
	
#normalQuips .quip2 {
	background-position:right -66px;
	}
	
#normalQuips .quip3 {
	background-position:right -132px;
	}
	
#normalQuips .quip4 {
	background-position:right -198px;
	}
	
#normalQuips .quip5 {
	background-position:right -264px;
	}
	
#normalQuips .quip6 {
	background-position:right -330px;
	}
	
#normalQuips .quip7 {
	background-position:right -396px;
	}
	
#normalQuips .quip8 {
	background-position:right -462px;
	}
	
#normalQuips .quip9 {
	background-position:right -528px;
	}
	
#normalQuips .quip10 {
	background-position:right -594px;
	}
	
#normalQuips .quip11 {
	background-position:right -660px;
	}
	
#normalQuips .quip12 {
	background-position:right -726px;
	}
	
/* Animations */

#animations {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-132px;
	height:100px;
	width:100px;
	margin-left:359px;
	text-align:center;
	z-index:0;
	}
	
#animations > div {
	display:none;
	width:100px;
	height:100px;
	position:absolute;
	background:url(/images/flexible/animation-july.gif) no-repeat;
	color:#fff;
	}
	
/* Selectbox Styles */
#flexible .sbHolder{
	font-weight: bold;
	text-transform:uppercase;
	width:121px;
	height:25px;
	margin:0;
	font-size:11px;
	color:#fff;
	line-height:25px;
	font-family: UbuntuBold, sans-serif;
	background:url(/images/flexible/selectbox.gif) no-repeat;
	position:absolute;
	top:89px;
	left:30px;
	text-shadow:1px 1px 1px #533091;
}
#flexible .sbHolder a {
	color:#fff;
	}
#flexible .sbHolder li {
	line-height:23px;
	height:25px;
	}
#flexible .sbSelector{
	height: 25px;
	width:121px;
	line-height: 25px;
	text-indent: 11px;
}
#flexible .sbToggle{
	width: 23px;
	height:25px;
	background:url(/images/flexible/toggle.gif) no-repeat!important;
}
#flexible .sbOptions{
	top: 25px;
	background:#6d5d8d;
	border:1px solid #504269;
}
#flexible .sbOptions a{
	color:#d2d2d2;
	font-size:11px;
	line-height:23px;
	height:23px;
	width:119px;
	border-bottom:1px solid #504269;
	border-top:1px solid #b7a7d3;
}
#flexible .sbOptions a:hover{
	color: #fff;
}

/* Breaks */

.breaks {
	width:64px;
	height:64px;
	background:url(/images/flexible/breaks.gif) no-repeat;
	position:absolute;
	bottom:100px;
	left:180px;
	}
	
#break1 {
	bottom:160px;
	left:127px;
	}
	
#break2 {
	bottom:120px;
	left:271px;
	}
	
#break3 {
	bottom:196px;
	left:391px;
	}
	
#break4 {
	bottom:190px;
	left:185px;
	}
	
.breakJanuary, .breakDecember {
	background-position:0 0;
	}
	
.breakFebruary {
	background-position:0 -64px;
	}
	
.breakMarch, .breakApril {
	background-position:0 -128px;
	}
	
.breakMay {
	background-position:0 -192px;
	}
	
.breakJune, .breakJuly {
	background-position:0 -256px;
	}
	
.breakAugust {
	background-position:0 -320px;
	}
	
.breakSeptember {
	background-position:0 -384px;
	}
	
.breakOctober {
	background-position:0 -448px;
	}

.breakNovember {
	background-position:0 -512px;
	}