/* Set Basic Slider Styles */

#flexible {
	position:relative;
	background:#ededed;
	}
	
#flexible-screen {
  position:relative;
  width:100%;
  top:0;
  background:url(/images/flexible/texture.png) no-repeat center top;
}

#flexible-tagline {
	position:absolute;
	top:50%;
	margin-top:-305px;
	height:100px;
	width:245px;
	left:50%;
	margin-left:-122px;
	text-indent:-9999px;
	display:block;
	background:url(/images/flexible/tagline.png) no-repeat;
	}
	
#fast, #normal {
	float:left;
	position:absolute;
	height:371px;
	top:50%;
	left:50%;
	margin-top:-185px;
	}
	
#fast {
	width:635px;
	margin-left:-484px;
	background:url(/images/flexible/left-path.png) no-repeat;
	}
	
#normal {
	width:380px;
	margin-left:103px;
	}
	
#normal-bg {
	width:380px;
	height:371px;
	position:absolute;
	z-index:0;
	background:url(/images/flexible/right-path.png) no-repeat;
}
	
.bar {
	background:#000;
	height:3px;
	width:100%;
	position:absolute;
	bottom:75px;
	}
	
#breaks {
	width:360px;
	height:100px;
	background:url(/images/flexible/breaks.jpg) repeat-x left center;
	position:absolute;
	bottom:100px;
	left:180px;
	border:1px dashed #000;
	}
		
/* Dates */	
.endToggle {
	background:url(/images/flexible/circle.png) no-repeat;
	width:79px;
	height:78px;
	position:absolute;
	z-index:200;
}

.toggleHover {
	background:url(/images/flexible/circle-hover.png) no-repeat;
	width:79px;
	height:78px;
	position:absolute;
	z-index:1;
	opacity:0;
}
	
#fast .endToggle {
	top:173px;
	left:573px;
	}
	
#normal .endToggle {
	top:138px;
	right:0;
	}
	
.endToggle a {
	width:79px;
	height:78px;
	text-align:center;
	line-height:78px;
	text-transform:uppercase;
	color:#533091;
	font-size:12px;
	font-family: UbuntuRegular, sans-serif;
	font-weight:bold;
	text-decoration:none;
	display:block;
	position:absolute;
	z-index:10;
}

#flag {
	width:86px;
	height:61px;
	position:absolute;
	left:250px;
	top:213px;
	background:url(/images/flexible/flag.png) no-repeat;
}
	
/* Quips */

.quips {
	width:400px;
	position:absolute;
	top:50%;
	margin-top:193px;
	left:50%;
	margin-left:-200px;
	text-align:center;
	}
	
.quips > div {
	display:none;
	}
	
/* Animations */

#animations {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-132px;
	height:100px;
	width:100px;
	border:1px dashed #ccc;
	margin-left:359px;
	text-align:center;
	}
	
#animations > div {
	display:none;
	}
	
/* Selectbox Styles */
#flexible .sbHolder{
	font-weight: bold;
	text-transform:uppercase;
	width:121px;
	height:25px;
	margin:0;
	font-size:11px;
	color:#fff;
	line-height:25px;
	background:url(/images/flexible/selectbox.gif) no-repeat;
	position:absolute;
	top:89px;
	left:30px;
	text-shadow:1px 1px 1px #533091;
}
#flexible .sbHolder a {
	color:#fff;
	}
#flexible .sbHolder li {
	line-height:23px;
	height:25px;
	}
#flexible .sbSelector{
	height: 25px;
	width:121px;
	line-height: 25px;
	text-indent: 11px;
}
#flexible .sbToggle{
	width: 23px;
	height:25px;
	background:url(/images/flexible/toggle.gif) no-repeat!important;
}
#flexible .sbOptions{
	top: 25px;
	background:#6d5d8d;
	border:1px solid #504269;
}
#flexible .sbOptions a{
	color:#d2d2d2;
	line-height:23px;
	height:23px;
	width:119px;
	border-bottom:1px solid #504269;
	border-top:1px solid #b7a7d3;
}
#flexible .sbOptions a:hover{
	color: #fff;
}