#mobile {
  position:relative;
}

#mobile-screen {
  position:relative;
  width:100%;
  overflow:hidden;
  top:0;
  background:#000;
}

/* Mobile Scene */

#mobile h2 {
  position:absolute;
  z-index:100;
  top:80px;
  left:50%;
  margin-left:-161px;
  width:322px;
  height:145px;
  background:url(/images/mobile/anytime.png) no-repeat;
  text-indent:-9999px;
  display:block;
}

/* Devices */

#devices {
  z-index:10;
  position:absolute;
  bottom:0px;
  height:231px;
  left:-480px;
  margin-left:50%;
}

#devices div {
  height:231px;
  position:absolute;
  margin-left:50%;
}

#phone {
  width:269px;
  left:-135px;
  background:url(/images/mobile/phone.png) no-repeat;
}

#tablet {
  width:789px;
  left:-395px;
  background:url(/images/mobile/tablet.png) no-repeat;
  top:231px;
}

#desktop {
  width:989px;
  left:-495px;
  background:url(/images/mobile/desktop.png) no-repeat;
  top:231px;
}

/* Switchboard */

#switchboard {
  height:146px;
  width:100%;
  background:#000;
  position:absolute;
  bottom:0;
  z-index:50;
}

#switchboard .center {
  width:362px;
  position:relative;
  top:13px;
  height:122px;
}

#switchboard a {
  position:absolute;
  bottom:0;
  text-indent:-9999px;
  float:left;
}

#showPhone {
  background:url(/images/mobile/phoneLink.gif) no-repeat top;
  width:49px;
  height:77px;
  left:0;
}

#showTablet {
  background:url(/images/mobile/tabletLink.gif) no-repeat top;
  width:101px;
  height:96px;
  left:89px;
}

#showDesktop {
  background:url(/images/mobile/desktopLink.gif) no-repeat top;
  width:132px;
  height:122px;
  right:0;
}

#switchboard a:hover, #switchboard .current {
  background-position:bottom;
}

/* Full Screen Images */

#fullScreen, #fullScreen div {
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
}

#tabletBG {
  opacity:0;
}

#desktopBG {
  opacity:0;
}
