#preface {
	position:relative;
	}

#preface-screen {
	position:relative;
	width:100%;
	overflow:hidden;
	top:0;
	}

#intro {
	width:480px;
	height:190px;
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-250px;
	overflow:hidden;
	}
	
#intro p {
	width:480px;
	height:190px;
	background:#ccc;
	cursor:pointer;
	}
	
h1 {
	height:60px;
	font-size:60px;
	line-height:60px;
	text-align:center;
	position:absolute;
	top:50%;
	margin-top:-30px;
	width:100%;
	opacity:0;
	}