.space {
  height:1000px;
  background:#000;
}

#walking {
  width:100%;
  height:10000px;
  position:relative;
  min-width:960px;
}

#walking-screen {
  position:relative;
  width:100%;
  overflow:hidden;
  background:#e5e5e5;
  top:0;
}

#walking-screen .center {
  width:960px;
  margin:0 auto;
  height:100%;
  position:relative;
  background:#e5e5e5;
}

.tagline {
  color:#fff;
  font-family:arial;
  font-size:16px;
  text-transform:uppercase;
  line-height:26px;
  text-align:center;
  width:960px;
  position:absolute;
  top:0;
  z-index:100;
}

#bear {
  width:150px;
  height:350px;
  margin-top:-75px;
  position:absolute;
  left:-650px;
  top:50%;
  background:url(/images/relevant/bryan-sprite.jpg) no-repeat left 0;
  z-index:20;
}

#wall {
  width:50%;
  height:100%;
  position:absolute;
  left:0;
  background:#e5e5e5;
  /*  opacity:0.3; */
  z-index:10;
}

/*
#leftMask, #rightMask {
position:absolute;
height:100%;
width:600px;
top:0;
z-index:100;
}

#leftMask {
background:url(/images/relevant/leftMask.png) repeat-y;
left:-700px;
}

#rightMask {
background:url(/images/relevant/rightMask.png) repeat-y;
right:-700px;
}
 */

  #projectile, #projectile2 {
    position:absolute;
    z-index:1;
    background:url(/images/relevant/fireball.gif) no-repeat;;
    width:79px;
    height:75px;
    top:50%;
    margin-top:45px;
    right:-550px;
    /*  border-radius:25px; */
  }

  .fixTop {
    position:fixed!important;
    top:0!important;
  }

  .stickTop {
    position:absolute!important;
    top:0!important;
  }

  .stickBot {
    position:absolute!important;
    bottom:0!important;
    top:auto!important;
  }

  #bear.f0 { background-position: right -700px; }
  #bear.f1 { background-position: right 0; }
  #bear.f2 { background-position: left -350px; }
  #bear.f3 { background-position: right -350px; }
  #bear.f4 { background-position: left -700px; }
  #bear.f5 { background-position: left 0; }

  #skillBox {
    width:127px;
    height:71px;
    position:absolute;
    top:50%;
    margin-top:-163px;
    left:417px;
    background:#e5e5e5;
    z-index:100;
  }

  #explosion {
    width:127px;
    height:49px;
    background:url(/images/relevant/explosion.gif) no-repeat top;
    position:absolute;
    top:0;
  }

  #explosion.f0 { background-position: 0 0; }
  #explosion.f1 { background-position: 0 -49px; }
  #explosion.f2 { background-position: 0 -98px; }
  #explosion.f3 { background-position: 0 -147px; }
  #explosion.f4 { background-position: 0 -196px; }
  #explosion.hidden { background: 0 1000px no-repeat; }

  #skill1, #skill2 {
    width:76px;
    height:26px;
    background:url(/images/relevant/skill1.gif) no-repeat;
    opacity:0;
    position:absolute;
    left:25px;
    bottom:0;
    z-index:10;
  }

  /* Dev overlay */
  #cursprite, #curposition {
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    background:#000;
    color:#fff;
    padding:5px;
  }

  #curposition {
    top:30px;
  }
