#walking {
  width:100%;
  height:16000px;
  position:relative;
  min-width:960px;
}

#walking-screen {
  position:relative;
  width:100%;
  overflow:hidden;
  background:#e5e5e5;
  top:0;
}

#walking-screen .center {
  height:100%;
  position:relative;
  background:#e5e5e5;
}

.tagline {
  color:#fff;
  font-family:arial;
  font-size:16px;
  text-transform:uppercase;
  line-height:26px;
  text-align:center;
  width:960px;
  position:absolute;
  top:0;
  z-index:100;
}

#bear {
  width:272px;
  height:375px;
  margin-top:-92px;
  position:absolute;
  left:-650px;
  top:50%;
  background-image:url(/images/walking/sprites/BearSprite-S.gif);
  z-index:20;
}

#wall {
  width:50%;
  height:100%;
  position:absolute;
  left:0;
  background:#e5e5e5;
  z-index:10;
}

  #projectile {
    position:absolute;
    z-index:1;
    background-image:url(/images/walking/sprites/CoinSprite.jpg);
    width:79px;
    height:75px;
    top:50%;
    margin-top:112px;
    right:-550px;
    /*  border-radius:25px; */
  }

  #projectile.f0 { background-position: 0 0; }
  #projectile.f1 { background-position: -80px 0; }
  #projectile.f2 { background-position: -160px 0; }
  #projectile.f3 { background-position: -240px 0; }
  #projectile.f4 { background-position: 0 -80px; }
  #projectile.f5 { background-position: -80px -80px; }
  #projectile.f6 { background-position: -160px -80px; }
  #projectile.f7 { background-position: -240px -80px; }

  #bear.f0 { background-position: 0 0; }
  #bear.f1 { background-position: -274px 0; }
  #bear.f2 { background-position: -544px 0; }
  #bear.f3 { background-position: -816px 0; }
  #bear.f4 { background-position: -1088px 0; }
  #bear.f5 { background-position: -1360px 0; }
  #bear.f6 { background-position: 0 -375px; }
  #bear.f7 { background-position: -274px -375px; }
  #bear.f8 { background-position: -544px -375px; }
  #bear.f9 { background-position: -816px -375px; }
  #bear.f10 { background-position: -1088px -375px; }
  #bear.f11 { background-position: -1360px -375px; }
  #bear.f12 { background-position: 0 -750px; }
  #bear.f13 { background-position: -274px -750px; }
  #bear.f14 { background-position: -544px -750px; }
  #bear.f15 { background-position: -816px -750px; }
  #bear.f16 { background-position: -1088px -750px; }
  #bear.f17 { background-position: -1360px -750px; }

  #bear.s  { background-image:url(/images/walking/sprites/BearSprite-S.gif); }
  #bear.ss { background-image:url(/images/walking/sprites/BearSprite-SS.gif); }
  #bear.sn { background-image:url(/images/walking/sprites/BearSprite-SN.gif); }
  #bear.n  { background-image:url(/images/walking/sprites/BearSprite-N.gif); }
  #bear.nn { background-image:url(/images/walking/sprites/BearSprite-NN.gif); }
  #bear.np { background-image:url(/images/walking/sprites/BearSprite-NP.gif); }
  #bear.p  { background-image:url(/images/walking/sprites/BearSprite-P.gif); }
  #bear.pp { background-image:url(/images/walking/sprites/BearSprite-PP.gif); }

  #skillBox {
    width:127px;
    height:71px;
    position:absolute;
    top:50%;
    margin-top:-163px;
    left:417px;
    background:#e5e5e5;
    z-index:100;
  }

  #explosion {
    width:127px;
    height:49px;
    background-image:url(/images/walking/explosion.gif);
    position:absolute;
    top:0;
  }

  #explosion.f0 { background-position: 0 0; }
  #explosion.f1 { background-position: 0 -49px; }
  #explosion.f2 { background-position: 0 -98px; }
  #explosion.f3 { background-position: 0 -147px; }
  #explosion.f4 { background-position: 0 -196px; }
  #explosion.hidden { background: 0 1000px no-repeat; }

  .skill {
    width:76px;
    height:26px;
    background:url(/images/walking/skill1.gif) no-repeat;
    opacity:0;
    position:absolute;
    left:25px;
    bottom:0;
    z-index:10;
  }

  /* Dev overlay */
  #cursprite, #curposition {
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    background:#000;
    color:#fff;
    padding:5px;
  }

  #curposition {
    top:30px;
  }
