#social {
	position:relative;
	background:#5e5e5e;
	}

#social-screen {
	position:relative;
	width:100%;
	overflow:hidden;
	top:0;
	background:url(/images/social/top-texture.jpg) no-repeat center -28px;
	}

#social h2 {
	width:284px;
	height:86px;
	position:absolute;
	top:46px;
	margin-left:50%;
	left:-142px;
	background:url(/images/social/social-sprite.png) no-repeat -975px 0px;
	text-indent:-9999px;
	display:block;
	}

#social p, .username, #social-screen textarea {
	font-family:Ubuntu Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:17px;
	color:#706e6e;
	line-height:24px;
	}

.username {
	font-size:13px;
	font-weight:bold;
	line-height:normal;
	margin:0 0 5px;
	text-transform:uppercase;
	}

.username span {
	font-weight:normal;
	font-style:italic;
	text-transform:none;
	}

.user-message:before, .dog:before, .bird:before {
	content: "";
	position: absolute;
	top: 0;
	width: 89px;
	height: 89px;
}

.user-message:before {
	right: 0;
	background:url(/images/social/social-sprite.png) no-repeat -797px 0px;
}

.dog:before {
	left: 0;
	background:url(/images/social/social-sprite.png) no-repeat -708px 0px;
}

.bird:before {
	left: 0;
	background:url(/images/social/social-sprite.png) no-repeat -886px 0px;
}

.point {
	width:10px;
	height:12px;
	position:absolute;
	top:39px;
	}

.left .point {
	left:-10px;
	background:url(/images/social/social-sprite.png) no-repeat -500px -98px;
	}

.user-message .point {
	right:-10px;
	background:url(/images/social/social-sprite.png) no-repeat -490px -98px;
	}

.bubble {
	padding:14px;
	border:1px solid #383636;
	border-radius:10px;
	width:462px;
	position:relative;
	background:url(/images/social/social-sprite.png) no-repeat 0px 0px #fff;
	}

#social .left .bubble {
	left:110px;
	}

.user-message .bubble {
	left:150px;
	}

#chat-hint {
	width:218px;
	height:98px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position:absolute;
	bottom:0px;
	left:266px;
	text-indent:-9999px;
	display:block;
	background:url(/images/social/social-sprite.png) no-repeat -490px 0px #5E5E5E;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

#chat-hint.showHint {
  bottom:19px;
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#the-chat {
	width:766px;
	overflow-y:auto;
	height:100%;
	padding-right:50px;
}

#the-chat > div {
	display: none;
	position:relative;
	margin:20px 0 8px;
	width:100%;
	min-height:89px;
}

#the-chat div.visible {
	display: block;
}

#chat-container {
	overflow:hidden;
	width:750px;
	margin-left:50%;
	left:-375px;
	position:absolute;
	bottom:145px;
	padding-right:20px;
	}

#social-screen textarea {
	width: 502px;
	padding:14px;
	height: 50px;
	color:#aeadad;
	border:1px solid #383636;
	border-radius:10px;
	resize:none;
	overflow:hidden;
}

#social-screen textarea:focus {
	color:#706e6e;
}

#social-screen form {
	position:absolute;
	bottom:20px;
	margin-left:50%;
	left:-265px;
	width:530px;
	z-index:10;
}

#reply-bg {
	height:145px;
	background:#4b4b4b;
	width:100%;
	position:absolute;
	bottom:0;
	}

#social-screen form input {
	background:url(/images/social/social-sprite.png) no-repeat -1259px 0px;
	width:73px;
	height:26px;
	text-indent:-9999px;
	display:block;
	border:none;
	cursor:pointer;
	float:right;
	}

#social-screen form input:hover, #social-screen form input:focus {
	background-position:-1259px -26px;
	}

#social-screen form input:active {
	background-position:-1259px -52px;
	}

#disclaimer {
	opacity:0;
	z-index:0;
	position:absolute;
	bottom:45px;
	margin-left:50%;
	left:-265px;
	width:530px;
	color:#e9e9e9;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size:14px;
	line-height:20px;
	font-style:italic;
	}
