/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* no dotted outline when you click links */
a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
display:block;
}

.clear {
	clear:both;
	}
	
/* Set Basic Slider Styles */

#timeline {
	width:960px;
	margin:20px auto 40px;
	position:relative;
	}
	
#fast, #normal {
	float:left;
	width:480px;
	position:relative;
	height:250px;
	}
	
.bar {
	background:#000;
	height:3px;
	width:100%;
	position:absolute;
	bottom:75px;
	}
	
#breaks {
	width:480px;
	height:100px;
	background:url(images/breaks.jpg) repeat-x left center;
	position:absolute;
	bottom:27px;
	}
	
/* End Toggle */

.toggleEnd {
	width:13px;
	height:13px;
	border-radius:7px;
	border:1px solid #000;
	display:block;
	position:absolute;
	right:-6px;
	bottom:69px;
	background:#000;
	z-index:100;
	}
	
.toggleEnd:hover {
	background:#ff0000;
	}
		
/* Dates */

#startMonth {
	position:absolute;
	bottom:0;
	left:0;
	}
	
#fastMonth {
	position:absolute;
	bottom:0;
	right:0;
	}
	
#normalMonth {
	position:absolute;
	bottom:0;
	right:0;
	}
	
/* Taglines */

#taglines {
	width:400px;
	margin:0 auto;
	text-align:center;
	}
	
#taglines > div {
	display:none;
	}
	
/* Animations */

#animations {
	position:absolute;
	top:0;
	right:0;
	}
	
#animations > div {
	display:none;
	}